@font-face {
  font-family: "Dela-Gothic-One-Regular";
  src: url(../../fonts/DelaGothicOne-Regular.ttf);
}

@font-face {
  font-family: "Courier-Prime-Regular";
  src: url(../../fonts/CourierPrime-Regular.ttf);
}

@font-face {
  font-family: "Courier-Prime-Italic";
  src: url(../../fonts/CourierPrime-Italic.ttf);
}

@font-face {
  font-family: "Courier-Prime-Bold";
  src: url(../../fonts/CourierPrime-Bold.ttf);
}

@font-face {
  font-family: "Gruppo";
  src: url(../../fonts/Gruppo-Regular.ttf);
}
