@use "../base/vars" as *;
/* 
.bartenders-component {
  
} */

/* .bartenders-component > h2 {
  margin: 0;
} */

div.bartenders-container {
  display: flex;
  flex-direction: row;
  //align-content: flex-end;
  margin-top: 2rem;
}

.bartenders-component {
  display: flex;
  //justify-content: space-between;
  justify-content: center;
  h1 {
    font-family: "Dela-Gothic-One-Regular", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
  }

  p {
    font-family: "Courier-Prime-Regular";
    font-size: 1rem;
    padding: 0.15rem;
    //border-bottom: solid 2px #011626;
  }
  .border {
    border: solid 1px #011626;
    height: 0;
    width: 220px;
    margin: 0;
    padding: 0;
  }
}

.bartenders-component > div {
  display: grid;
  grid-template-rows: 1fr 0fr 1fr 0fr 1fr 0fr 1fr 0fr 1fr 0fr;
  justify-items: center;
  //justify-content: space-between;
  background-color: $light-grey;
  min-width: 220px;
  margin-left: 20px;
  padding-top: 1rem;

  /*   padding: 20px 50px;
  margin: 10px;
  max-width: 100px; */

  /*   p:first-child {
    font-weight: bolder;
  } */
}

/* .bartender-name,
.bartender-status,
.bartender-detail,
.bartender-customer,
.bartender-tap {
  border-bottom: solid 2px #011626;
  //padding: 0px 100px;
  //padding: 0 4rem;
} */

.bartenders-headings {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  // padding: 2rem 0rem 2rem 1rem;
  // margin: 0.5rem 1rem;
  margin: 10px 0;
  //padding: 20px 50px;
  padding: 65.5px 0 10px 0;
}

.bartenders {
  /*   h1 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.5rem;
  } */
  margin: 1.5rem;
  border-top: solid 2px #011626;
  h2 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 0;
    border-bottom: solid 2px #011626;
    padding: 1rem;
  }
  h2:first-child {
    border-top: solid 2px #011626;
  }
}

div.bartenders > h1:first-child {
  font-family: "Courier-Prime-Regular";
  font-size: 1.5rem;
}

.bartender-icon-container {
  /*   position: absolute;
  top: 2rem;
  left: 2rem; */
  .bartender-icon {
    background-image: url(../../img/bartender.svg);
    width: 3rem;
    height: 3rem;
    background-size: cover;
  }
}
