@use "../base/vars" as *;
div.bartenders-container {
  display: flex;
  flex-direction: row;
  //align-content: flex-end;
}

.bartenders-component {
  justify-content: center;
  h1 {
    font-family: "Dela-Gothic-One-Regular", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
  }

  p {
    font-family: "Courier-Prime-Regular";
    font-size: 1rem;
  }
}

.bartenders-component > div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-between;
  background-color: $light-grey;
  //margin: 0.5rem 1rem;
  //padding: 2rem;
  //min-width: 6rem;
  padding: 20px 50px;
  margin: 10px;
  //padding: 2rem;
  max-width: 100px;

  /*   max-width: 500px;
  margin: auto; */

  //max-width: 6rem;
  /* display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px; */

  p:first-child {
    font-weight: bolder;
  }
}

.bartenders-headings {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  // padding: 2rem 0rem 2rem 1rem;
  // margin: 0.5rem 1rem;
  margin: 10px;
  padding: 20px 50px;
}

.bartenders {
  /*   h1 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.5rem;
  } */
  margin: 1.5rem;
  h2 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}

div.bartenders > h1:first-child {
  font-family: "Courier-Prime-Regular";
  font-size: 1.5rem;
}

.bartender-icon-container {
  /*   position: absolute;
  top: 2rem;
  left: 2rem; */
  .bartender-icon {
    background-image: url(../../img/bartender.svg);
    width: 3rem;
    height: 3rem;
    background-size: cover;
  }
}
