@use "../base/vars" as *;

.App {
  header {
    display: flex;
    flex-direction: column;
    margin: 0rem 1.5rem 2rem 1.5rem;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-family: "Dela-Gothic-One-Regular";
    font-size: 2.2rem;
  }

  .timenow {
    font-family: "Courier-Prime-Regular";
    font-size: 1rem;
    //margin: 0 4rem;
  }

  /*   nav {
    position: fixed;
    top: 10px;
    width: 100%;
    overflow: auto;
    height: auto;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  } */

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    // width: 60%;
    // overflow: auto;
  }

  a {
    text-decoration: none;
    padding: 0.5rem;
    font-family: "Dela-Gothic-One-Regular", sans-serif;
    background-color: white;
    color: $black;
    border: solid 2px $black;
    margin: 0.3rem 0.3rem 0.3rem 0rem;
    text-transform: uppercase;
    font-size: 1rem;

    // float: left;
    // font-size: 17px;
    // width: 20%;
    // text-align: center;

    // width: 15vw;
    // padding: 17px;
    // display: inline-block;
    // text-align: center;
    // text-decoration: none;
    // font-size: 1rem;
  }

  /*
  nav{
   position: fixed;
   top: 0;
   width: 100%;
   overflow: auto;
   height: auto;
}
.links {
   width: 20vw;
   padding: 17px;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   font-size: 17px;
}
*/

  a:hover {
    font-family: "Dela-Gothic-One-Regular", sans-serif;
    background-color: $black;
    color: white;
    border: solid 2px $black;
  }

  a:focus {
    font-family: "Dela-Gothic-One-Regular", sans-serif;
    background-color: $black;
    color: white;
    border: solid 2px $black;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    /*     nav {
      position: fixed;
      top: 10px;
      width: 100%;
      overflow: auto;
      height: auto;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }

    a {
      width: 15vw;
      padding: 17px;
      display: inline-block;
      text-align: center;
      font-size: 1rem;
      //font-size: 0.8rem;
    } */

    a {
      font-size: 0.95rem;
    }

    header {
      display: flex;
      flex-direction: column;
      //margin: 0rem 1.5rem 2rem 1.5rem;
    }

    .header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-family: "Dela-Gothic-One-Regular";
      font-size: 2.2rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }

    .timenow {
      font-family: "Courier-Prime-Regular";
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}
