@use "../base/vars" as *;

/* .inventory-container {
  padding: 0.2rem 0rem;
  margin: 1.5rem;
  border-top: solid 2px #011626;
}
 */

.inventory-container {
  display: flex;
  //justify-content: space-between;
  //padding: 0.2rem 0rem;
  //padding-left: 1rem;
  margin: 1.5rem;
  border-top: solid 2px #011626;

  h1 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.5rem;
  }

  th {
    font-family: "Courier-Prime-Regular";
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  td {
    font-family: "Courier-Prime-Regular";
    font-size: 0.9rem;
  }
}

div.tapsstatus-content:first-child {
  align-self: flex-start;
  padding: 0;
}

/* .tablecontent:first-child {
  padding-right: 4rem;
} */

.inventory-container th {
  padding: 0rem 2rem;
  //padding: 15px;
  //text-align: center;
}

.inventory-container td {
  display: flex;
  /*   flex-direction: row;
  justify-content: flex-end; */
  //padding: 0.3rem 1.5rem;
  padding: 0.5rem 0;
  //text-align: left;
  //background-color: $light-grey;
  //margin-bottom: 0.5rem;
  align-self: center;
}

.tapssituation {
  border-right: solid 2px #011626;
  padding-right: 1.5rem;
}

.storagesituation {
  padding-left: 1.5rem;
}

.tapssituation {
  .tapstatus-heading {
    border-top: solid 2px #011626;
    border-bottom: solid 2px #011626;
    margin-bottom: 0.5rem;
  }
}

/* .tapstatus-heading {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 4rem;
  th {
    text-align: center;
  }
} */

.tapstatus-heading {
  justify-content: center;
  tr {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.2rem 6rem; */
    //padding: 0.3rem 4rem;
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /*   thead {
    justify-content: center;
  } */
}

/* .tapsstatus-content {
  
} */

/* .tapstatus-heading > th {
  justify-self: stretch;
}
 */
.tapsstatus-content {
  background-color: $light-grey;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  margin-bottom: 0.5rem;
  //margin-left: 1rem;
  td {
    justify-content: center;
  }
}

/* div.tapsstatus-content:first-child {
  padding-left: 0.5rem;
}
*/

.storagestatus-content {
  background-color: $light-grey;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0.4rem;
  td {
    justify-content: center;
  }
}

.amount-circle {
  border-radius: 50%;
  border: solid 2px #011626;
  width: 1.8rem;
  height: 1.8rem;
  //background-color: red;
  /*  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; */
  z-index: 100;
  margin-left: 1rem;
  margin-right: 1rem;

  td {
    padding: 0.5rem;
  }
}

.storagesituation {
  .storagestatus-heading {
    border-top: solid 2px #011626;
    border-bottom: solid 2px #011626;
    margin-bottom: 0.5rem;
  }
}

.storagestatus-heading > tr {
  /*   display: flex;
  justify-content: space-around; */
  padding-left: 2rem;
  //padding-right: 2rem;
}

/* .inventory-container > div {
  padding: 1rem;
  margin: 1rem auto;
  display: grid;
  //background-color: lightcyan;
}

.inventory-container > div table {
  margin: 1rem auto;
  justify-content: center;
}
*/

/* .tablecontent {
  display: flex;
  flex-direction: row;
  text-align: start;
} */

/* .tapsstatus-content > td{
  .capacity {

  }
}
 */
.capacity {
  /* height: 20px;
  width: 100px; */
  height: 1.8rem;
  width: 9rem;
  border: solid 2px black;
  font-size: 0.7rem;
  align-items: center;
}
.capacity > .lowstock {
  height: 100%;
  width: 23%;
  background-color: $red;
}

.capacity > .mediumlowstock {
  height: 100%;
  width: 33%;
  background-color: $orange;
}

.capacity > .mediumhighstock {
  height: 100%;
  width: 66%;
  background-color: lightgreen;
}
.capacity > .highstock {
  height: 100%;
  width: 100%;
  background-color: $green;
}

.storagestatus tr.lowstock .amount-circle {
  background-color: $red;
}

.storagestatus tr.mediumlowstock .amount-circle {
  background-color: $orange;
}

.storagestatus tr.mediumhighstock .amount-circle {
  background-color: lightgreen;
}

.storagestatus tr.highstock .amount-circle {
  background-color: $green;
}
