@use "../base/vars" as *;

.orders-serving,
.orders-queue {
  padding: 0.2rem 0rem;
  margin: 1.5rem;
  border-top: solid 2px $black;

  h1 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.5rem;
  }
}

.serving-component,
.queue-component {
  min-width: 200px;
  min-height: 200px;
  h1 {
    font-family: "Dela-Gothic-One-Regular", sans-serif;
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
  }

  h2 {
    font-family: "Courier-Prime-Regular";
    font-size: 1rem;
  }

  p,
  li {
    font-family: "Courier-Prime-Regular";
    font-size: 1rem;
  }

  h1:first-child:before {
    content: "ORDER #";
  }
}

.serving-component > .heading-container {
  background-color: $green;
  padding: 0.4rem 0.5rem 0.05rem 0.2rem;
  margin-bottom: 0.5rem;
}

.queue-component > .heading-container {
  background-color: $orange;
  padding: 0.4rem 0.5rem 0.05rem 0.2rem;
  margin-bottom: 0.5rem;
}

.serving-component,
.queue-component {
  border: solid 2px $black;

  .listOrder {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .listOrder > li {
    margin-bottom: 0.5rem;
  }
}

.ordertime-container {
  display: flex;
  background-color: $light-grey;
  align-self: flex-end;
  padding: 0rem;

  p {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.orderServing-component,
.orders-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

@media only screen and (max-width: 500px) {
  .orderServing-component,
  .orders-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //justify-content: flex-start;
  }

  .orders-serving > h1 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .orders-queue > h1 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  /*   nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  nav > ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .intro-inspired {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .mockup-inspired {
    width: 80vw;
    height: auto;
    margin-top: 4vw;
  }

  .text-inspired {
    text-align: center;
  }

  button {
    align-self: center;
    font-size: 2.3vw;
    width: 30vw;
    padding: 2.5vw;
    margin-top: 1vw;
  }

  section.intro-inspired > div.text-inspired > h1 {
    font-size: 2rem;
  }

  section.posters-wrapper > h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .posters-gallery {
    padding-bottom: 10rem;
    padding-top: 2rem;
    margin-top: 0;
  } */
}
