@use "../base/vars" as *;

/* .ant-steps {
  // display: inline-block !important;
  display: inline-grid !important;
  grid-template-columns: 2.2fr 0.8fr 1fr 1fr 1fr;
  width: 200% !important;
  font-family: "Dela-Gothic-One-Regular";
}

.ant-steps-item {
  padding-left: 0px !important;
  overflow: visible !important;
}

.ant-steps-item-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;

  .ant-steps-item-icon {
    width: 40px !important;
    height: 40px !important;
    font-size: 18px;
    z-index: 2;
    border: 3px solid rgba(0, 0, 0, 0.25);

    .ant-steps-icon {
      top: 2px;
      font-family: "Dela-Gothic-One-Regular";
    }
  }

  .ant-steps-item-title {
    font-size: 1.3rem;
    padding-top: 1.1rem;
    &::after {
      width: 500%;
      top: -22px;
      left: 42%;
      height: 3px;
    }
    &::after:last-of-type {
      width: 500%;
      top: -10px;
      left: 42%;
      height: 3px;
    }
  }
}

.ant-steps-item-active {
  .ant-steps-item-icon {
    border: 3px solid $black !important;
    background: white !important;
  }
  .ant-steps-icon {
    color: $black !important;
  }
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background: $black !important;
}

.ant-steps-finish-icon svg {
  fill: $black;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: $black !important;
} */
