@use "./sass/base";
@use "./sass/components";
@use "./sass/layout";

// .orders-container-main{
//   display: flex;
//   flex-direction: column;
// }

/* .bartenders,
.orders-serving {
  padding: 1rem;
  background-color: lightgrey;
  margin: 1rem;
} */

/* .orderServing-component {
  display: flex;
  justify-content: space-between;
} */

/* .bartenders-component > div,
.orderServing-component > div {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
} */

/* .capacity {
  height: 30px;
  width: 200px;
  border: solid 2px black;
}
.capacity > .lowstock {
  height: 100%;
  width: 23%;
  background-color: red;
}

.capacity > .mediumlowstock {
  height: 100%;
  width: 33%;
  background-color: orange;
}

.capacity > .mediumhighstock {
  height: 100%;
  width: 66%;
  background-color: lightgreen;
}
.capacity > .highstock {
  height: 100%;
  width: 100%;
  background-color: green;
}

.inventory-container {
  display: flex;
  justify-content: space-between;
}
.inventory-container > div {
  padding: 1rem;
  margin: 1rem auto;
  background-color: lightcyan;
  display: grid;
}

.inventory-container > div table {
  margin: 1rem auto;
  justify-content: center;
}

.storagestatus tr.lowstock {
  background-color: red;
} */

/* .orders-container {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
}
.orders-container > div {
  background-color: lightblue;
  padding: 1rem;
  margin: 1rem;
} */
/* header {
  display: flex;
  justify-content: space-around;
} */

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
